/**
 * Description: CSS Style for "Federalnaya slugba pasportizacii".
 * Version: 1.0.0
 * Last update: 28/04/2016
 * Author: STUDIO-AW <web@studio-aw.ru>
 *
 * Summary:
 *
 *  0. BASIC
 *    - 0.1. helpers
 *    - 0.2. typography
 *    - 0.3. forms
 *    - 0.4. fixes
 *  1. BLOCKS
 *    - 1.1. HEADER
 *    - 1.2. HERO
 *    - 1.3. ADVANTAGES
 *    - 1.4. CATEGORIES
 *    - 1.5. OBJECTS
 *    - 1.6. CONTACTS
 *    - 1.7. GET-FORM
 *  2. MODULES
 *    - 2.1. POPUP
 *    - 2.2. GO-TOP
 *  3. MOBILE 480px
 *    - 3.1. helpers
 *    - 3.2. typography
 *    - 3.3. HEADER
 *    - 3.4. HERO
 *    - 3.5. ADVANTAGES
 *    - 3.6. CATEGORIES
 *    - 3.7. OBJECTS
 *    - 3.8. CONTACTS
 *    - 3.9. GET-FORM
 *    - 3.10. fixes
 *  4. PAD 750px
 *    - 4.1. helpers
 *    - 4.2. typography
 *    - 4.3. HEADER
 *    - 4.4. HERO
 *    - 4.5. ADVANTAGES
 *    - 4.6. CATEGORIES
 *    - 4.7. OBJECTS
 *    - 4.8. CONTACTS
 *    - 4.9. GET-FORM
 *  5. DESKTOP 1200px
 *    - 5.1. helpers
 *    - 5.2. typography
 *    - 5.3. HEADER
 *    - 5.4. HERO
 *    - 5.5. ADVANTAGES
 *    - 5.6. CATEGORIES
 *    - 5.7. OBJECTS
 *    - 5.8. CONTACTS
 *    - 5.9. GET-FORM
 */

/* ==========================================================================
   0. BASIC
   ========================================================================== */
  /* 0.1 helpers
     ========================================================================== */
    .wrapper {
      margin: 0 auto;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    .clear {
      clear: both;
    }
    .center {
      text-align: center;
    }
    .grey-block {
      background: #F7F7F7;
      padding: 30px 0;
    }
    .blue-block {
      background: #1D3755;
      padding: 40px 0;
      color: #fff;
    }
  /* 0.2 typography
     ========================================================================== */
    body {
      font-family: "roboto", sans-serif;
    }
    h1 {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 22px;
      line-height: 1.25;
    }
    h2 {
      font-size: 20px;
      line-height: 1.25;
      text-transform: uppercase;   
    }
    h2.devider,
    h2.devider-light {
      position: relative;
      margin-bottom: 60px;
    }
    h2.devider:after,
    h2.devider-light:after { /* TODO: check styles for 750px and 1200px */
      content: " ";
      position: absolute;
      bottom: -40px;
      left: 34%;
      width: 100px;
      height: 14px;
      display: block;
    }
    h2.devider:after {
      background: url(../img/devider.svg) no-repeat;
    }
    h2.devider-light:after {
      background: url(../img/devider_light.svg) no-repeat;
    }
    p {
      line-height: 1.4;
    }
    a {

    }
    strong {
      font-weight: 700;
    }
    .btn {
      border-radius: 5px;
      display: table;
      padding: 10px 20px;
      margin: 0 auto;
    }
    .yellow-btn {
      background: #ffe200;
      background: -moz-linear-gradient(top,  #ffe200 0%, #ffb018 100%);
      background: -webkit-linear-gradient(top,  #ffe200 0%,#ffb018 100%);
      background: linear-gradient(to bottom,  #ffe200 0%,#ffb018 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe200', endColorstr='#ffb018',GradientType=0 );
      
    }
    .yellow-btn a {
      color: #000;
    }
  /* 0.3. forms
     ========================================================================== */
    input {
      border: none;
      display: block;
      width: 100%;
      margin-bottom: 20px;
    }
    input[type="text"] {
      padding: 5px 0 10px;
      border-bottom: 1px solid #FFF;
      background: #1D3755;
      color: #fff;
      font-family: "roboto", sans-serif;
      text-align: center;
      font-weight: 400;
      font-style: italic;
    }
    input[type="submit"] {
      font-size: 16px;
    }
/* ==========================================================================
   1. BLOCKS
  ========================================================================== */
   /* 1.1. HEADER
    ========================================================================= */
    header {
      padding: 20px 0;
    }
    .phone-icon {
      font-weight: 300;
      font-size: 29px;
      padding-left: 40px;
      background: url(../img/phone_icon.svg) 0 2px no-repeat;
      -webkit-background-size:auto 95%;
      background-size: auto 95%;
    }
  /* 1.2. HERO
     ========================================================================== */
    .hero {
      width: 100%;
      background: url(../img/hero_bg.jpg) center center no-repeat;
      margin-bottom: 30px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    .hero h2 {
      font-size: 30px;
      font-weight: 300;
      color: #fff;
      line-height: 1.33;
    }
    .down-arrow {
      margin-top: 30px;
    }
  /* 1.3. ADVANTAGES
     ========================================================================== */
    .advantages {
      line-height: 1.35;
    }
    .advantage {
      margin-bottom: 30px;
    }
    .advantage img {
      margin-bottom: 15px;
    }
  /* 1.4. CATEGORIES
     ========================================================================== */
    .categories p {
      text-align: left;
      font-style: italic;
      font-weight: 300;
    }
    .categories img {
      width: 40px;
      margin-right: 20px; 
    }
  /* 1.5. OBJECTS
     ========================================================================== */
    .object {
      margin: 30px 0;
      overflow: hidden;
      font-size: 14px;
    }
    .object img {
      width: 100%;
      margin-bottom: 15px;
    }
  /* 1.6. CONTACTS
     ========================================================================== */
    .contacts p {
      margin-bottom: 20px;
      line-height: 1.6;
    }
  /* 1.7. GET-FORM
     ========================================================================== */
    .get-form form {
      margin: 0 auto;
    }
    .get-form input[type="submit"] {
      margin-top: 35px;
    }
/* ==========================================================================
   3. MOBILE 480px
   ========================================================================== */
  @media screen and (max-width:480px) {
  /* 3.1. helpers
     ========================================================================== */
    .wrapper {
      width: 100%;
      padding: 0 3.125%;
      text-align: center;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    .desktop {
      display: none;
    }
  /* 3.2. typography
     ========================================================================== */
    .btn {

    }
  /* 3.3. HEADER
     ========================================================================== */
    .logo {
      width: 17.77777777777778%;
      margin-bottom: 15px;
    }
    h1 {
      margin-bottom: 15px;
      font-size: 20px;
    }
    .phone-icon {
      display: table;
      margin: 0 auto;
      font-size: 26px;
    }
  /* 3.4. HERO
     ========================================================================== */
    .hero {
      padding: 50px 0 30px;
    }
    .hero h2 {
      font-size: 24px;
      margin-bottom: 30px;
    }
  /* 3.5. ADVANTAGES
     ========================================================================== */
    .advantages {
      width: 73%;
      margin: 0 auto;
    }
  /* 3.6. CATEGORIES
     ========================================================================== */
    .categories {
      line-height: 1.4;
      margin: 10px 0 40px;
    }
    .categories .col  {
      width: 85%;
      margin: 0 auto; 
    }
    .category {
      margin: 20px 0;
      overflow: hidden;
    }
    .category img {
      display: block;
      float: left;
      margin-bottom: 20px;
    }
  /* 3.7. OBJECTS
     ========================================================================== */
  /* 3.8. CONTACTS
     ========================================================================== */
  /* 3.9. GET-FORM
     ========================================================================== */
    .get-form form {
      width: 90%;
    }
  /* 3.10. fixes
     ========================================================================== */
    /* fixing ios phone numbers blue links */ 
    .phone-icon a,
    .contacts a { 
      color: #000;
      text-decoration: none;
    }
  }
/* ==========================================================================
   4. PAD 750px 
   ========================================================================== */
  @media screen and (min-width: 481px) and (max-width: 750px) {

  /* 4.4. HERO
     ========================================================================== */
    .hero {
      padding: 70px 0;
    }
  }